---

_You are currently looking at **version 1.1** of this notebook. To download notebooks and datafiles, as well as get help on Jupyter notebooks in the Coursera platform, visit the [Jupyter Notebook FAQ](https://www.coursera.org/learn/python-data-analysis/resources/0dhYG) course resource._

---

In [2]:
import pandas as pd
import numpy as np
from scipy.stats import ttest_ind

# Assignment 4 - Hypothesis Testing
This assignment requires more individual learning than previous assignments - you are encouraged to check out the [pandas documentation](http://pandas.pydata.org/pandas-docs/stable/) to find functions or methods you might not have used yet, or ask questions on [Stack Overflow](http://stackoverflow.com/) and tag them as pandas and python related. And of course, the discussion forums are open for interaction with your peers and the course staff.

Definitions:
* A _quarter_ is a specific three month period, Q1 is January through March, Q2 is April through June, Q3 is July through September, Q4 is October through December.
* A _recession_ is defined as starting with two consecutive quarters of GDP decline, and ending with two consecutive quarters of GDP growth.
* A _recession bottom_ is the quarter within a recession which had the lowest GDP.
* A _university town_ is a city which has a high percentage of university students compared to the total population of the city.

**Hypothesis**: University towns have their mean housing prices less effected by recessions. Run a t-test to compare the ratio of the mean price of houses in university towns the quarter before the recession starts compared to the recession bottom. (`price_ratio=quarter_before_recession/recession_bottom`)

The following data files are available for this assignment:
* From the [Zillow research data site](http://www.zillow.com/research/data/) there is housing data for the United States. In particular the datafile for [all homes at a city level](http://files.zillowstatic.com/research/public/City/City_Zhvi_AllHomes.csv), ```City_Zhvi_AllHomes.csv```, has median home sale prices at a fine grained level.
* From the Wikipedia page on college towns is a list of [university towns in the United States](https://en.wikipedia.org/wiki/List_of_college_towns#College_towns_in_the_United_States) which has been copy and pasted into the file ```university_towns.txt```.
* From Bureau of Economic Analysis, US Department of Commerce, the [GDP over time](http://www.bea.gov/national/index.htm#gdp) of the United States in current dollars (use the chained value in 2009 dollars), in quarterly intervals, in the file ```gdplev.xls```. For this assignment, only look at GDP data from the first quarter of 2000 onward.

Each function in this assignment below is worth 10%, with the exception of ```run_ttest()```, which is worth 50%.

In [3]:
# Use this dictionary to map state names to two letter acronyms
states = {'OH': 'Ohio', 'KY': 'Kentucky', 'AS': 'American Samoa', 'NV': 'Nevada', 'WY': 'Wyoming', 'NA': 'National', 'AL': 'Alabama', 'MD': 'Maryland', 'AK': 'Alaska', 'UT': 'Utah', 'OR': 'Oregon', 'MT': 'Montana', 'IL': 'Illinois', 'TN': 'Tennessee', 'DC': 'District of Columbia', 'VT': 'Vermont', 'ID': 'Idaho', 'AR': 'Arkansas', 'ME': 'Maine', 'WA': 'Washington', 'HI': 'Hawaii', 'WI': 'Wisconsin', 'MI': 'Michigan', 'IN': 'Indiana', 'NJ': 'New Jersey', 'AZ': 'Arizona', 'GU': 'Guam', 'MS': 'Mississippi', 'PR': 'Puerto Rico', 'NC': 'North Carolina', 'TX': 'Texas', 'SD': 'South Dakota', 'MP': 'Northern Mariana Islands', 'IA': 'Iowa', 'MO': 'Missouri', 'CT': 'Connecticut', 'WV': 'West Virginia', 'SC': 'South Carolina', 'LA': 'Louisiana', 'KS': 'Kansas', 'NY': 'New York', 'NE': 'Nebraska', 'OK': 'Oklahoma', 'FL': 'Florida', 'CA': 'California', 'CO': 'Colorado', 'PA': 'Pennsylvania', 'DE': 'Delaware', 'NM': 'New Mexico', 'RI': 'Rhode Island', 'MN': 'Minnesota', 'VI': 'Virgin Islands', 'NH': 'New Hampshire', 'MA': 'Massachusetts', 'GA': 'Georgia', 'ND': 'North Dakota', 'VA': 'Virginia'}

In [4]:
city_all_homes = pd.read_csv('City_Zhvi_AllHomes.csv')
city_all_homes.head()

,RegionID,RegionName,State,Metro,CountyName,SizeRank,1996-04,1996-05,1996-06,1996-07,...,2015-11,2015-12,2016-01,2016-02,2016-03,2016-04,2016-05,2016-06,2016-07,2016-08
0,6181,New York,NY,New York,Queens,1,NaN,NaN,NaN,NaN,...,573600,576200,578400,582200,588000,592200,592500,590200,588000,586400
1,12447,Los Angeles,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,2,155000.0,154600.0,154400.0,154200.0,...,558200,560800,562800,565600,569700,574000,577800,580600,583000,585100
2,17426,Chicago,IL,Chicago,Cook,3,109700.0,109400.0,109300.0,109300.0,...,207800,206900,206200,205800,206200,207300,208200,209100,211000,213000
3,13271,Philadelphia,PA,Philadelphia,Philadelphia,4,50000.0,49900.0,49600.0,49400.0,...,122300,121600,121800,123300,125200,126400,127000,127400,128300,129100
4,40326,Phoenix,AZ,Phoenix,Maricopa,5,87200.0,87700.0,88200.0,88400.0,...,183800,185300,186600,188000,189100,190200,191300,192800,194500,195900

In [5]:
def get_list_of_university_towns():
    '''Returns a DataFrame of towns and the states they are in from the 
    university_towns.txt list. The format of the DataFrame should be:
    DataFrame( [ ["Michigan", "Ann Arbor"], ["Michigan", "Yipsilanti"] ], 
    columns=["State", "RegionName"]  )
    
    The following cleaning needs to be done:
    
    1. For "State", removing characters from "[" to the end.
    2. For "RegionName", when applicable, removing every character from " (" to the end.
    3. Depending on how you read the data, you may need to remove newline character '\n'. '''
    
    university_town = pd.read_table('university_towns.txt', names = {'University Town'})
    # university_town.head()

    State = []
    RegionName = []
    for index, row in university_town.iterrows():
        if(row.str.contains('edit').bool()):
            currentState = row[0]
    #         print("currentState", currentState)

        else:
    #         print("appending current state and region name")
            State.append(currentState)
            RegionName.append(row[0])
    #         print(row[0])

    df = pd.DataFrame({'State': State, 'RegionName': RegionName})
    
   
    
    df['State'] = df.State.str.split('[').str[0]
    df['RegionName'] = df.RegionName.str.split('(').str[0]
    
    df['State'] = df.State.map(lambda x: x.strip())
    df['RegionName'] = df.RegionName.map(lambda x: x.strip())
    
    
    df.reset_index()
    
    cols = df.columns.tolist()
    cols = cols[-1:] + cols[:-1]
    df = df[cols]
    return df


# print(get_list_of_university_towns())

             State                    RegionName
0          Alabama                        Auburn
1          Alabama                      Florence
2          Alabama                  Jacksonville
3          Alabama                    Livingston
4          Alabama                    Montevallo
5          Alabama                          Troy
6          Alabama                    Tuscaloosa
7          Alabama                      Tuskegee
8           Alaska                     Fairbanks
9          Arizona                     Flagstaff
10         Arizona                         Tempe
11         Arizona                        Tucson
12        Arkansas                   Arkadelphia
13        Arkansas                        Conway
14        Arkansas                  Fayetteville
15        Arkansas                     Jonesboro
16        Arkansas                      Magnolia
17        Arkansas                    Monticello
18        Arkansas                  Russellville
19        Arkansas                        Searcy
20      California                        Angwin
21      California                        Arcata
22      California                      Berkeley
23      California                         Chico
24      California                     Claremont
25      California                        Cotati
26      California                         Davis
27      California                        Irvine
28      California                    Isla Vista
29      California  University Park, Los Angeles
..             ...                           ...
487       Virginia                          Wise
488       Virginia                    Chesapeake
489     Washington                    Bellingham
490     Washington                        Cheney
491     Washington                    Ellensburg
492     Washington                       Pullman
493     Washington  University District, Seattle
494  West Virginia                        Athens
495  West Virginia                    Buckhannon
496  West Virginia                      Fairmont
497  West Virginia                     Glenville
498  West Virginia                    Huntington
499  West Virginia                    Montgomery
500  West Virginia                    Morgantown
501  West Virginia                 Shepherdstown
502  West Virginia                  West Liberty
503      Wisconsin                      Appleton
504      Wisconsin                    Eau Claire
505      Wisconsin                     Green Bay
506      Wisconsin                     La Crosse
507      Wisconsin                       Madison
508      Wisconsin                     Menomonie
509      Wisconsin                     Milwaukee
510      Wisconsin                       Oshkosh
511      Wisconsin                   Platteville
512      Wisconsin                   River Falls
513      Wisconsin                 Stevens Point
514      Wisconsin                      Waukesha
515      Wisconsin                    Whitewater
516        Wyoming                       Laramie

[517 rows x 2 columns]

In [6]:
def get_recession_start():
    '''Returns the year and quarter of the recession start time as a 
    string value in a format such as 2005q3'''
    GDP = pd.read_excel("gdplev.xls", skiprows = 7,  parse_cols = "E:G") 
    GDP = GDP.rename(columns = {'Unnamed: 0':'Quarter','Unnamed: 1':'GDP in billions of current dollars', 'Unnamed: 2':'GDP in billions of chained 2009 dollars'})

    GDP['previous'] = GDP['GDP in billions of chained 2009 dollars'].shift(1)
    GDP['diff'] = GDP['GDP in billions of chained 2009 dollars'] - GDP['previous']

    countList = []
    for index, row in GDP.iterrows():
        if row['diff'] < 0:
            count += 1
            countList.append(count)        

        else:
            count = 0
            countList.append(count) 

    GDP['count'] = countList
    GDP['year'] = GDP['Quarter'].str[:4]

    GDP['year'] = GDP['year'].astype(int)

    return GDP.iloc[GDP[(GDP['count'] >= 2) & (GDP['year'] >= 2000)].index-1]['Quarter'].iloc[0]

# print(get_recession_start())

2008q3

In [7]:
       
# GDP = pd.read_excel("gdplev.xls", skiprows = 7,  parse_cols = "E:G") 
# GDP = GDP.rename(columns = {'Unnamed: 0':'Quarter','Unnamed: 1':'GDP in billions of current dollars', 'Unnamed: 2':'GDP in billions of chained 2009 dollars'})

# GDP['previous'] = GDP['GDP in billions of chained 2009 dollars'].shift(1)
# GDP['diff'] = GDP['GDP in billions of chained 2009 dollars'] - GDP['previous']
# GDP[GDP['Quarter']>'2008q3']

,Quarter,GDP in billions of current dollars,GDP in billions of chained 2009 dollars,previous,diff
247,2008q4,14549.9,14577.0,14891.6,-314.6
248,2009q1,14383.9,14375.0,14577.0,-202.0
249,2009q2,14340.4,14355.6,14375.0,-19.4
250,2009q3,14384.1,14402.5,14355.6,46.9
251,2009q4,14566.5,14541.9,14402.5,139.4
252,2010q1,14681.1,14604.8,14541.9,62.9
253,2010q2,14888.6,14745.9,14604.8,141.1
254,2010q3,15057.7,14845.5,14745.9,99.6
255,2010q4,15230.2,14939.0,14845.5,93.5
256,2011q1,15238.4,14881.3,14939.0,-57.7
257,2011q2,15460.9,14989.6,14881.3,108.3
258,2011q3,15587.1,15021.1,14989.6,31.5
259,2011q4,15785.3,15190.3,15021.1,169.2
260,2012q1,15973.9,15291.0,15190.3,100.7
261,2012q2,16121.9,15362.4,15291.0,71.4
262,2012q3,16227.9,15380.8,15362.4,18.4
263,2012q4,16297.3,15384.3,15380.8,3.5
264,2013q1,16475.4,15491.9,15384.3,107.6
265,2013q2,16541.4,15521.6,15491.9,29.7
266,2013q3,16749.3,15641.3,15521.6,119.7
267,2013q4,16999.9,15793.9,15641.3,152.6
268,2014q1,17025.2,15747.0,15793.9,-46.9
269,2014q2,17285.6,15900.8,15747.0,153.8
270,2014q3,17569.4,16094.5,15900.8,193.7
271,2014q4,17692.2,16186.7,16094.5,92.2
272,2015q1,17783.6,16269.0,16186.7,82.3
273,2015q2,17998.3,16374.2,16269.0,105.2
274,2015q3,18141.9,16454.9,16374.2,80.7
275,2015q4,18222.8,16490.7,16454.9,35.8
276,2016q1,18281.6,16525.0,16490.7,34.3
277,2016q2,18450.1,16583.1,16525.0,58.1

In [8]:
def get_recession_end():
    '''Returns the year and quarter of the recession end time as a 
    string value in a format such as 2005q3'''
       
    GDP = pd.read_excel("gdplev.xls", skiprows = 7,  parse_cols = "E:G") 
    GDP = GDP.rename(columns = {'Unnamed: 0':'Quarter','Unnamed: 1':'GDP in billions of current dollars', 'Unnamed: 2':'GDP in billions of chained 2009 dollars'})

    GDP['previous'] = GDP['GDP in billions of chained 2009 dollars'].shift(1)
    GDP['diff'] = GDP['GDP in billions of chained 2009 dollars'] - GDP['previous']

    countList = []
    for index, row in GDP.iterrows():
        if row['diff'] < 0:
            count += 1
            countList.append(count)        

        else:
            count = 0
            countList.append(count) 

    GDP['count'] = countList
    GDP['year'] = GDP['Quarter'].str[:4]
    GDP['year'] = GDP['year'].astype(int)

    endList = []
    GDP['countPrevious'] = GDP['count'].shift(1)
    GDP['countNext'] = GDP['count'].shift(-1)

    for index, row in GDP.iterrows():
        if ((row['count']>0) & (row['countNext'] < row['count']) & (row['countPrevious'] < row['count'])):
            endList.append('End')
        else:
            endList.append('other')
     
    GDP['EndingList']  = endList
    
    
    return  GDP.iloc[GDP[(GDP['EndingList'] == 'End') & (GDP['Quarter'] >= get_recession_start())].index+2]['Quarter'].iloc[0]

# print(get_recession_end())

2009q4

In [9]:
def get_recession_bottom():
    '''Returns the year and quarter of the recession bottom time as a 
    string value in a format such as 2005q3'''
    
    GDP = pd.read_excel("gdplev.xls", skiprows = 7,  parse_cols = "E:G") 
    GDP = GDP.rename(columns = {'Unnamed: 0':'Quarter','Unnamed: 1':'GDP in billions of current dollars', 'Unnamed: 2':'GDP in billions of chained 2009 dollars'})

    GDP['previous'] = GDP['GDP in billions of chained 2009 dollars'].shift(1)
    GDP['diff'] = GDP['GDP in billions of chained 2009 dollars'] - GDP['previous']

    countList = []
    for index, row in GDP.iterrows():
        if row['diff'] < 0:
            count += 1
            countList.append(count)        

        else:
            count = 0
            countList.append(count) 

    GDP['count'] = countList
    GDP['year'] = GDP['Quarter'].str[:4]
    GDP['year'] = GDP['year'].astype(int)

    recessionList = []
    GDP['countPrevious'] = GDP['count'].shift(1)
    GDP['countNext'] = GDP['count'].shift(-1)

    x = 0
    for index, row in GDP.iterrows():
        if (((row['countNext'] >= 2) or (row['countNext'] == 0))  & (row['countPrevious'] < row['count'])):
            recessionList.append(('recession')+str(x))
        else:
            x+=1
            recessionList.append('other')

    GDP['recessionList']  = recessionList
    GDPGroup = GDP.loc[GDP.groupby('recessionList')["GDP in billions of chained 2009 dollars"].idxmin()]

    return GDPGroup[GDPGroup['Quarter'] >= get_recession_start()]['Quarter'].iloc[0]

# print(get_recession_bottom())

2009q2

In [10]:
# pd.read_csv('City_Zhvi_AllHomes.csv').columns.tolist()

In [11]:
def convert_housing_data_to_quarters():
    '''Converts the housing data to quarters and returns it as mean 
    values in a dataframe. This dataframe should be a dataframe with
    columns for 2000q1 through 2016q3, and should have a multi-index
    in the shape of ["State","RegionName"].
    
    Note: Quarters are defined in the assignment description, they are
    not arbitrary three month periods.
    
    The resulting dataframe should have 67 columns, and 10,730 rows.
    '''
    city_all_homes = pd.read_csv('City_Zhvi_AllHomes.csv',usecols=range(51,251))
    city_all_homes = city_all_homes.groupby(pd.PeriodIndex(city_all_homes.columns, freq='q'), axis=1).mean()
    columns = list(pd.date_range(
    start="2000", end="2017", freq='Q').map(
    lambda x: "{:}q{:}".format(x.year, x.quarter))[:-1])
    
    city_all_homes.columns = columns
    city_all_homes_Region = pd.read_csv('City_Zhvi_AllHomes.csv', usecols = ["State","RegionName"])
    city_all_homes_final = city_all_homes_Region.merge(city_all_homes, how = 'inner', left_index=True, right_index = True)
    city_all_homes_final = city_all_homes_final.fillna(0)
    city_all_homes_final['State'] = city_all_homes_final['State'].map(states)

    city_all_homes_final = city_all_homes_final.set_index(["State", "RegionName"])
    return city_all_homes_final


# print(convert_housing_data_to_quarters())

                                                2000q1        2000q2  \
State                RegionName
New York             New York             0.000000e+00  0.000000e+00
California           Los Angeles          2.070667e+05  2.144667e+05
Illinois             Chicago              1.384000e+05  1.436333e+05
Pennsylvania         Philadelphia         5.300000e+04  5.363333e+04
Arizona              Phoenix              1.118333e+05  1.143667e+05
Nevada               Las Vegas            1.326000e+05  1.343667e+05
California           San Diego            2.229000e+05  2.343667e+05
Texas                Dallas               8.446667e+04  8.386667e+04
California           San Jose             3.742667e+05  4.065667e+05
Florida              Jacksonville         8.860000e+04  8.970000e+04
California           San Francisco        4.305000e+05  4.644667e+05
Texas                Austin               1.429667e+05  1.452667e+05
Michigan             Detroit              6.616667e+04  6.830000e+04
Ohio                 Columbus             9.436667e+04  9.583333e+04
Tennessee            Memphis              7.250000e+04  7.320000e+04
North Carolina       Charlotte            1.269333e+05  1.283667e+05
Texas                El Paso              7.626667e+04  7.686667e+04
Massachusetts        Boston               2.069333e+05  2.191667e+05
Washington           Seattle              2.486000e+05  2.556000e+05
Maryland             Baltimore            5.966667e+04  5.950000e+04
Colorado             Denver               1.622333e+05  1.678333e+05
District of Columbia Washington           1.377667e+05  1.442000e+05
Tennessee            Nashville            1.138333e+05  1.152667e+05
Wisconsin            Milwaukee            7.803333e+04  7.906667e+04
Arizona              Tucson               1.018333e+05  1.029667e+05
Oregon               Portland             1.528000e+05  1.547667e+05
Oklahoma             Oklahoma City        7.643333e+04  7.750000e+04
Nebraska             Omaha                1.128000e+05  1.141000e+05
New Mexico           Albuquerque          1.258667e+05  1.267000e+05
California           Fresno               9.410000e+04  9.526667e+04
...                                                ...           ...
Texas                Granite Shoals       0.000000e+00  0.000000e+00
Maryland             Piney Point          1.556667e+05  1.551667e+05
Wisconsin            Maribel              0.000000e+00  0.000000e+00
Idaho                Middleton            1.060667e+05  1.043333e+05
Colorado             Bennett              1.329000e+05  1.358333e+05
New Hampshire        East Hampstead       1.618333e+05  1.691000e+05
Missouri             Garden City          0.000000e+00  0.000000e+00
Arkansas             Mountainburg         5.716667e+04  6.433333e+04
Wisconsin            Oostburg             1.072667e+05  1.081000e+05
California           Twin Peaks           9.736667e+04  1.001667e+05
New York             Upper Brookville     1.230967e+06  1.230967e+06
Hawaii               Volcano              9.870000e+04  1.053667e+05
South Carolina       Wedgefield           0.000000e+00  0.000000e+00
Michigan             Williamston          1.591667e+05  1.613000e+05
Arkansas             Decatur              6.360000e+04  6.440000e+04
Tennessee            Briceville           4.000000e+04  4.173333e+04
Indiana              Edgewood             9.170000e+04  9.186667e+04
Tennessee            Palmyra              0.000000e+00  0.000000e+00
Maryland             Saint Inigoes        1.480667e+05  1.476000e+05
Indiana              Marysville           0.000000e+00  0.000000e+00
California           Forest Falls         1.135333e+05  1.144000e+05
Missouri             Bois D Arc           1.078000e+05  1.069667e+05
Virginia             Henrico              1.285667e+05  1.307667e+05
New Jersey           Diamond Beach        1.739667e+05  1.831000e+05
Tennessee            Gruetli Laager       3.540000e+04  3.546667e+04
Wisconsin            Town of Wrightstown  1.017667e+05  1.054000e+05
New York             Urbana               7.920000e+04  8.166667e+04
Wisconsin            New Denmark          1.145667e+05  1.192667e+05
California           Angels               1.510000e+05  1.559000e+05
Wisconsin            Holland              1.510333e+05  1.505000e+05

                                                2000q3        2000q4  \
State                RegionName
New York             New York             0.000000e+00  0.000000e+00
California           Los Angeles          2.209667e+05  2.261667e+05
Illinois             Chicago              1.478667e+05  1.521333e+05
Pennsylvania         Philadelphia         5.413333e+04  5.470000e+04
Arizona              Phoenix              1.160000e+05  1.174000e+05
Nevada               Las Vegas            1.354000e+05  1.370000e+05
California           San Diego            2.454333e+05  2.560333e+05
Texas                Dallas               8.486667e+04  8.783333e+04
California           San Jose             4.318667e+05  4.555000e+05
Florida              Jacksonville         9.170000e+04  9.310000e+04
California           San Francisco        4.835333e+05  4.930000e+05
Texas                Austin               1.494667e+05  1.557333e+05
Michigan             Detroit              6.676667e+04  6.703333e+04
Ohio                 Columbus             9.713333e+04  9.826667e+04
Tennessee            Memphis              7.386667e+04  7.400000e+04
North Carolina       Charlotte            1.302000e+05  1.315667e+05
Texas                El Paso              7.673333e+04  7.730000e+04
Massachusetts        Boston               2.331000e+05  2.425000e+05
Washington           Seattle              2.625333e+05  2.674000e+05
Maryland             Baltimore            5.883333e+04  5.950000e+04
Colorado             Denver               1.743333e+05  1.803333e+05
District of Columbia Washington           1.487000e+05  1.477000e+05
Tennessee            Nashville            1.158667e+05  1.169333e+05
Wisconsin            Milwaukee            8.103333e+04  8.233333e+04
Arizona              Tucson               1.044667e+05  1.056667e+05
Oregon               Portland             1.565667e+05  1.574667e+05
Oklahoma             Oklahoma City        7.856667e+04  7.916667e+04
Nebraska             Omaha                1.167333e+05  1.189000e+05
New Mexico           Albuquerque          1.264333e+05  1.267333e+05
California           Fresno               9.646667e+04  9.823333e+04
...                                                ...           ...
Texas                Granite Shoals       0.000000e+00  0.000000e+00
Maryland             Piney Point          1.584667e+05  1.637000e+05
Wisconsin            Maribel              0.000000e+00  0.000000e+00
Idaho                Middleton            1.019000e+05  1.041667e+05
Colorado             Bennett              1.398000e+05  1.446667e+05
New Hampshire        East Hampstead       1.739667e+05  1.805000e+05
Missouri             Garden City          0.000000e+00  0.000000e+00
Arkansas             Mountainburg         6.783333e+04  6.900000e+04
Wisconsin            Oostburg             1.124333e+05  1.155000e+05
California           Twin Peaks           1.013333e+05  1.017000e+05
New York             Upper Brookville     1.237700e+06  1.261567e+06
Hawaii               Volcano              1.146667e+05  1.247667e+05
South Carolina       Wedgefield           0.000000e+00  0.000000e+00
Michigan             Williamston          1.643000e+05  1.662000e+05
Arkansas             Decatur              6.566667e+04  6.673333e+04
Tennessee            Briceville           4.366667e+04  4.490000e+04
Indiana              Edgewood             9.293333e+04  9.490000e+04
Tennessee            Palmyra              0.000000e+00  0.000000e+00
Maryland             Saint Inigoes        1.572333e+05  1.633667e+05
Indiana              Marysville           0.000000e+00  0.000000e+00
California           Forest Falls         1.141667e+05  1.111333e+05
Missouri             Bois D Arc           1.071000e+05  1.081000e+05
Virginia             Henrico              1.322667e+05  1.332667e+05
New Jersey           Diamond Beach        1.889667e+05  1.931333e+05
Tennessee            Gruetli Laager       3.666667e+04  3.730000e+04
Wisconsin            Town of Wrightstown  1.113667e+05  1.148667e+05
New York             Urbana               9.170000e+04  9.836667e+04
Wisconsin            New Denmark          1.260667e+05  1.319667e+05
California           Angels               1.581000e+05  1.674667e+05
Wisconsin            Holland              1.532333e+05  1.558333e+05

                                                2001q1        2001q2  \
State                RegionName
New York             New York             0.000000e+00  0.000000e+00
California           Los Angeles          2.330000e+05  2.391000e+05
Illinois             Chicago              1.569333e+05  1.618000e+05
Pennsylvania         Philadelphia         5.533333e+04  5.553333e+04
Arizona              Phoenix              1.196000e+05  1.215667e+05
Nevada               Las Vegas            1.395333e+05  1.417333e+05
California           San Diego            2.672000e+05  2.762667e+05
Texas                Dallas               8.973333e+04  8.930000e+04
California           San Jose             4.706667e+05  4.702000e+05
Florida              Jacksonville         9.440000e+04  9.560000e+04
California           San Francisco        4.940667e+05  4.961333e+05
Texas                Austin               1.612333e+05  1.607333e+05
Michigan             Detroit              6.750000e+04  6.836667e+04
Ohio                 Columbus             9.940000e+04  1.002667e+05
Tennessee            Memphis              7.416667e+04  7.493333e+04
North Carolina       Charlotte            1.329333e+05  1.332000e+05
Texas                El Paso              7.823333e+04  7.830000e+04
Massachusetts        Boston               2.496000e+05  2.570667e+05
Washington           Seattle              2.710000e+05  2.724333e+05
Maryland             Baltimore            5.956667e+04  6.013333e+04
Colorado             Denver               1.865000e+05  1.925333e+05
District of Columbia Washington           1.497667e+05  1.551333e+05
Tennessee            Nashville            1.180333e+05  1.191667e+05
Wisconsin            Milwaukee            8.403333e+04  8.556667e+04
Arizona              Tucson               1.072000e+05  1.087667e+05
Oregon               Portland             1.599000e+05  1.618000e+05
Oklahoma             Oklahoma City        7.983333e+04  8.040000e+04
Nebraska             Omaha                1.208667e+05  1.197667e+05
New Mexico           Albuquerque          1.271000e+05  1.277333e+05
California           Fresno               1.005667e+05  1.035667e+05
...                                                ...           ...
Texas                Granite Shoals       0.000000e+00  0.000000e+00
Maryland             Piney Point          1.634000e+05  1.648333e+05
Wisconsin            Maribel              0.000000e+00  0.000000e+00
Idaho                Middleton            1.061667e+05  1.083667e+05
Colorado             Bennett              1.483000e+05  1.521000e+05
New Hampshire        East Hampstead       1.909000e+05  1.950667e+05
Missouri             Garden City          0.000000e+00  0.000000e+00
Arkansas             Mountainburg         6.866667e+04  6.386667e+04
Wisconsin            Oostburg             1.191000e+05  1.204333e+05
California           Twin Peaks           1.040000e+05  1.076667e+05
New York             Upper Brookville     1.295167e+06  1.340033e+06
Hawaii               Volcano              1.181333e+05  1.194000e+05
South Carolina       Wedgefield           0.000000e+00  0.000000e+00
Michigan             Williamston          1.664333e+05  1.686333e+05
Arkansas             Decatur              6.720000e+04  6.770000e+04
Tennessee            Briceville           4.480000e+04  4.530000e+04
Indiana              Edgewood             9.893333e+04  1.000667e+05
Tennessee            Palmyra              0.000000e+00  0.000000e+00
Maryland             Saint Inigoes        1.642333e+05  1.682000e+05
Indiana              Marysville           0.000000e+00  0.000000e+00
California           Forest Falls         1.134333e+05  1.130000e+05
Missouri             Bois D Arc           1.107000e+05  1.136667e+05
Virginia             Henrico              1.352333e+05  1.367333e+05
New Jersey           Diamond Beach        1.944000e+05  2.102667e+05
Tennessee            Gruetli Laager       3.773333e+04  3.790000e+04
Wisconsin            Town of Wrightstown  1.259667e+05  1.299000e+05
New York             Urbana               9.486667e+04  9.853333e+04
Wisconsin            New Denmark          1.438000e+05  1.469667e+05
California           Angels               1.768333e+05  1.837667e+05
Wisconsin            Holland              1.618667e+05  1.657333e+05

                                                2001q3        2001q4  \
State                RegionName
New York             New York             0.000000e+00  0.000000e+00
California           Los Angeles          2.450667e+05  2.530333e+05
Illinois             Chicago              1.664000e+05  1.704333e+05
Pennsylvania         Philadelphia         5.626667e+04  5.753333e+04
Arizona              Phoenix              1.227000e+05  1.243000e+05
Nevada               Las Vegas            1.433667e+05  1.461333e+05
California           San Diego            2.845000e+05  2.919333e+05
Texas                Dallas               8.906667e+04  9.090000e+04
California           San Jose             4.568000e+05  4.455667e+05
Florida              Jacksonville         9.706667e+04  9.906667e+04
California           San Francisco        5.041000e+05  5.134000e+05
Texas                Austin               1.595333e+05  1.600333e+05
Michigan             Detroit              6.926667e+04  6.996667e+04
Ohio                 Columbus             1.010667e+05  1.022000e+05
Tennessee            Memphis              7.550000e+04  7.606667e+04
North Carolina       Charlotte            1.328000e+05  1.331000e+05
Texas                El Paso              7.743333e+04  7.680000e+04
Massachusetts        Boston               2.669333e+05  2.749667e+05
Washington           Seattle              2.741667e+05  2.781667e+05
Maryland             Baltimore            6.210000e+04  6.340000e+04
Colorado             Denver               1.964000e+05  1.991000e+05
District of Columbia Washington           1.646333e+05  1.725333e+05
Tennessee            Nashville            1.201000e+05  1.208000e+05
Wisconsin            Milwaukee            8.706667e+04  8.840000e+04
Arizona              Tucson               1.105667e+05  1.128000e+05
Oregon               Portland             1.642667e+05  1.677667e+05
Oklahoma             Oklahoma City        8.113333e+04  8.173333e+04
Nebraska             Omaha                1.178667e+05  1.174000e+05
New Mexico           Albuquerque          1.285667e+05  1.299000e+05
California           Fresno               1.072333e+05  1.103000e+05
...                                                ...           ...
Texas                Granite Shoals       0.000000e+00  0.000000e+00
Maryland             Piney Point          1.647000e+05  1.679000e+05
Wisconsin            Maribel              0.000000e+00  0.000000e+00
Idaho                Middleton            1.110333e+05  1.112333e+05
Colorado             Bennett              1.542333e+05  1.562000e+05
New Hampshire        East Hampstead       1.992667e+05  2.074000e+05
Missouri             Garden City          0.000000e+00  0.000000e+00
Arkansas             Mountainburg         6.376667e+04  6.546667e+04
Wisconsin            Oostburg             1.203667e+05  1.196333e+05
California           Twin Peaks           1.098333e+05  1.111333e+05
New York             Upper Brookville     1.403667e+06  1.481933e+06
Hawaii               Volcano              1.232667e+05  1.211667e+05
South Carolina       Wedgefield           0.000000e+00  0.000000e+00
Michigan             Williamston          1.716667e+05  1.750333e+05
Arkansas             Decatur              6.650000e+04  6.540000e+04
Tennessee            Briceville           4.463333e+04  4.370000e+04
Indiana              Edgewood             1.008333e+05  1.010000e+05
Tennessee            Palmyra              0.000000e+00  0.000000e+00
Maryland             Saint Inigoes        1.665000e+05  1.653333e+05
Indiana              Marysville           0.000000e+00  0.000000e+00
California           Forest Falls         1.130333e+05  1.151667e+05
Missouri             Bois D Arc           1.126333e+05  1.127333e+05
Virginia             Henrico              1.386000e+05  1.413333e+05
New Jersey           Diamond Beach        2.302667e+05  2.486667e+05
Tennessee            Gruetli Laager       3.936667e+04  4.040000e+04
Wisconsin            Town of Wrightstown  1.299000e+05  1.294333e+05
New York             Urbana               1.029667e+05  9.803333e+04
Wisconsin            New Denmark          1.483667e+05  1.491667e+05
California           Angels               1.902333e+05  1.845667e+05
Wisconsin            Holland              1.680333e+05  1.674000e+05

                                                2002q1        2002q2  \
State                RegionName
New York             New York             0.000000e+00  0.000000e+00
California           Los Angeles          2.619667e+05  2.727000e+05
Illinois             Chicago              1.755000e+05  1.775667e+05
Pennsylvania         Philadelphia         5.913333e+04  6.073333e+04
Arizona              Phoenix              1.265333e+05  1.283667e+05
Nevada               Las Vegas            1.493333e+05  1.509333e+05
California           San Diego            3.012333e+05  3.128667e+05
Texas                Dallas               9.256667e+04  9.380000e+04
California           San Jose             4.414333e+05  4.577667e+05
Florida              Jacksonville         1.012333e+05  1.034333e+05
California           San Francisco        5.204333e+05  5.381667e+05
Texas                Austin               1.589667e+05  1.575000e+05
Michigan             Detroit              7.100000e+04  7.233333e+04
Ohio                 Columbus             1.034000e+05  1.048000e+05
Tennessee            Memphis              7.633333e+04  7.676667e+04
North Carolina       Charlotte            1.343667e+05  1.353667e+05
Texas                El Paso              7.660000e+04  7.640000e+04
Massachusetts        Boston               2.825000e+05  2.893000e+05
Washington           Seattle              2.805000e+05  2.846000e+05
Maryland             Baltimore            6.366667e+04  6.490000e+04
Colorado             Denver               2.012333e+05  2.024333e+05
District of Columbia Washington           1.805000e+05  1.933000e+05
Tennessee            Nashville            1.215667e+05  1.226333e+05
Wisconsin            Milwaukee            8.953333e+04  9.136667e+04
Arizona              Tucson               1.150000e+05  1.172000e+05
Oregon               Portland             1.707667e+05  1.741333e+05
Oklahoma             Oklahoma City        8.260000e+04  8.343333e+04
Nebraska             Omaha                1.180667e+05  1.176333e+05
New Mexico           Albuquerque          1.310667e+05  1.321000e+05
California           Fresno               1.140333e+05  1.185333e+05
...                                                ...           ...
Texas                Granite Shoals       0.000000e+00  0.000000e+00
Maryland             Piney Point          1.782667e+05  1.812000e+05
Wisconsin            Maribel              0.000000e+00  0.000000e+00
Idaho                Middleton            1.141000e+05  1.141667e+05
Colorado             Bennett              1.587333e+05  1.606333e+05
New Hampshire        East Hampstead       2.123000e+05  2.122333e+05
Missouri             Garden City          0.000000e+00  0.000000e+00

In [12]:
def get_recession_start_before():
    '''Returns the year and quarter of the recession start time as a 
    string value in a format such as 2005q3'''
    GDP = pd.read_excel("gdplev.xls", skiprows = 7,  parse_cols = "E:G") 
    GDP = GDP.rename(columns = {'Unnamed: 0':'Quarter','Unnamed: 1':'GDP in billions of current dollars', 'Unnamed: 2':'GDP in billions of chained 2009 dollars'})

    GDP['previous'] = GDP['GDP in billions of chained 2009 dollars'].shift(1)
    GDP['diff'] = GDP['GDP in billions of chained 2009 dollars'] - GDP['previous']

    countList = []
    for index, row in GDP.iterrows():
        if row['diff'] < 0:
            count += 1
            countList.append(count)        

        else:
            count = 0
            countList.append(count) 

    GDP['count'] = countList
    GDP['year'] = GDP['Quarter'].str[:4]

    GDP['year'] = GDP['year'].astype(int)

    return GDP.iloc[GDP[(GDP['count'] >= 2) & (GDP['year'] >= 2000)].index-2]['Quarter'].iloc[0]

# print(get_recession_start_before())

2008q2

In [13]:
# # # test output type (different, p, better)

# res = run_ttest()
# print('Type test:', 'Passed' if type(
#     res) == tuple else 'Failed')
# print('test `better` item type:','Passed' if type(res[0]) == bool or type(res[0]) == np.bool_ else 'Failed' )
# print('`p` item type test:', 'Passed' if type(
#     res[1]) == np.float64 else 'Failed')
# print('`different` item type test:',
#       'Passed' if type(res[2]) == str else 'Failed')
# print('`different` item spelling test:', 'Passed' if res[2] in [
#       "university town", "non-university town"] else 'Failed')

Type test: Passed
test `better` item type: Passed
`p` item type test: Passed
`different` item type test: Passed
`different` item spelling test: Passed

/opt/conda/lib/python3.5/site-packages/ipykernel/__main__.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [14]:

##other method slow
# hdf = hdf.reset_index()

# hdf['unique'] = hdf['State'] + hdf['RegionName']
# ul['unique'] = ul['State'] + ul['RegionName']
# new = hdf.merge(ul, how = 'outer', left_on=['unique'], right_on=['unique'])

# notUni = new[new['State_x'].notnull() & new['State_y'].isnull()]
# notUni = notUni[['State_x',
#  'RegionName_x',
#  '2008q2',
#  '2008q3',
#  '2008q4',
#  '2009q1',
#  '2009q2']].rename(columns={'State_x': 'State', 'RegionName_x': 'RegionName'})
# notUni = notUni.reset_index(drop=True)
# notUni['PriceRatio'] = notUni[rec_start].div(notUni[rec_bottom])


# uni2 = new[new['State_y'].notnull() & new['State_x'].notnull()]
# uni2 = uni2[['State_x',
#  'RegionName_x',
#  '2008q2',
#  '2008q3',
#  '2008q4',
#  '2009q1',
#  '2009q2']].rename(columns={'State_x': 'State', 'RegionName_x': 'RegionName'})

# uni2 =  uni2.reset_index(drop=True)
# uni2['PriceRatio'] = uni2[rec_start].div(uni2[rec_bottom])


# scipy.stats.ttest_ind(university_towns['PriceRatio'],non_university_towns['PriceRatio'], nan_policy='omit')

In [31]:
def run_ttest():
    '''First creates new data showing the decline or growth of housing prices
    between the recession start and the recession bottom. Then runs a ttest
    comparing the university town values to the non-university towns values, 
    return whether the alternative hypothesis (that the two groups are the same)
    is true or not as well as the p-value of the confidence. 
    
    Return the tuple (different, p, better) where different=True if the t-test is
    True at a p<0.01 (we reject the null hypothesis), or different=False if 
    otherwise (we cannot reject the null hypothesis). The variable p should
    be equal to the exact p value returned from scipy.stats.ttest_ind(). The
    value for better should be either "university town" or "non-university town"
    depending on which has a lower mean price ratio (which is equivilent to a
    reduced market loss).'''
    
    import scipy
    hdf = convert_housing_data_to_quarters()
    rec_start=get_recession_start_before()
    rec_bottom = get_recession_bottom()
    ul = get_list_of_university_towns()

    hdf = hdf[hdf.columns[(hdf.columns >= rec_start) & (hdf.columns <= rec_bottom)]]
#     hdf = hdf.dropna()

    subset = ul[['State', 'RegionName']]
    tuple_list = [tuple(x) for x in subset.values]

    university_towns = hdf.loc[tuple_list]
    non_university_towns = hdf.loc[~hdf.index.isin(tuple_list)]
    university_towns['PriceRatio'] = university_towns[rec_start].div(university_towns[rec_bottom])
    non_university_towns['PriceRatio'] = non_university_towns[rec_start].div(non_university_towns[rec_bottom])

#     university_towns = university_towns.dropna()
#     non_university_towns = non_university_towns.dropna()
    
    university_towns = university_towns.fillna(0)
    non_university_towns = non_university_towns.fillna(0)

    statistic, pvalue = scipy.stats.ttest_ind(non_university_towns['PriceRatio'],university_towns['PriceRatio'], nan_policy='omit')

    #where
    different = pvalue <0.01 #boolean True or False
    p = pvalue #numpy.float64
    if university_towns['PriceRatio'].mean() > non_university_towns['PriceRatio'].mean(): 
        better = 'non-university town'
    else: 
        better = 'university town'

    return  (different, p, better)

# print(run_ttest())

(True, 4.0961452674119614e-208, 'university town')

/opt/conda/lib/python3.5/site-packages/ipykernel/__main__.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy